.container{
    display: flex;
    justify-content: space-between;
    border: solid 2px;
}

.item1{
    flex-basis: 200px;
    background-color: aqua;
    flex-shrink: 0;
}
.item2{
    flex-basis: 200px;
    background-color: aqua;
    flex-shrink: 0;
}
.item3{
    flex-basis: 400px;
    background-color: aqua;
    flex-shrink: 0;
}